#wrapper {
  display: flex;
  flex-direction: column;
}

#main-content {
  background: rgb(127, 45, 45);
  min-height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 10vh;
  background-color: rgb(76, 76, 163);
}

#board-wrapper {
  display: flex;
}

#player {
  margin-right: auto;
  margin-left: 1rem;
}

#player-name,
#computer-name {
  text-align: center;
}

#computer {
  margin-right: 1rem;
}

#creator {
  min-height: 5vh;
  background-color: rgb(76, 76, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.gameSquare {
  min-height: 20px;
  border: 1px black solid;
}

.gameBoard {
  min-height: 500px;
  min-width: 500px;
  border: 2px black solid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
}
