body {
  font-family: 'Roboto Mono', monospace;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#main-content {
  background: #575756;
  min-height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 10vh;
  background-color: rgb(76, 76, 163);
  justify-content: center;
  align-items: center;
  display: flex;
}

#board-wrapper {
  display: flex;
}

#player {
  margin-right: auto;
  margin-left: 1rem;
}

#player,
#computer {
  margin-top: 4rem;
}

#player-name,
#computer-name {
  text-align: center;
  font-size: 1.5rem;
}

#computer {
  margin-right: 1rem;
}

#creator {
  min-height: 5vh;
  background-color: rgb(76, 76, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#title {
  font-size: 3rem;
  text-align: center;
}

#computer-board,
#player-board {
  background-color: rgb(47, 155, 0);
}

.gameSquare {
  min-height: 20px;
  border: 1px black solid;
}

.ship {
  background-color: white;
  width: max-content;
  display: flex;
}

.shipcell {
  width: 60px;
  height: 60px;
  min-height: 20px;
  border: 1px red solid;
}

.gameBoard {
  min-height: 600px;
  min-width: 600px;
  border: 2px black solid;
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
}

.attacked {
  display: flex;
  font-size: 2.4em;
  justify-content: center;
  align-items: center;
}

.carrier {
  background-color: violet;
}

.patrolboat {
  background-color: orange;
}

.submarine {
  background-color: aqua;
}

.destroyer {
  background-color: blueviolet;
}

.battleship {
  background-color: bisque;
}
